.btn {
    background-color: rgb(115, 121, 128);
    border: none;
    
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: rgb(225, 65, 65);
  }