<app-header></app-header>
<nav><div class="scrollmenu">
  <a routerLink="workerdisplay">All</a>
    <a routerLink="electrician">Electrician</a>
    <a routerLink="carpenter">Carpenter</a>
    <a routerLink="driver">Driver</a>
    <a routerLink="plumber">Plumber</a>
    <a routerLink="labour">Labour</a>
    <a routerLink="painter">Painter</a>
    <a routerLink="cook">Cook</a>
    <a routerLink="housekeeper">Housekeeper</a>
    <a routerLink="gardener">Gardener</a>
    <a routerLink="carcleaner">Car Cleaner</a>
    <a routerLink="securityguard">Security Guard</a>
    <a routerLink="plasterer">Plasterer</a>
    <a routerLink="constructionworker">Construction Worker</a>
    <a routerLink="mechanic">Mechanic</a>
    <a href=""></a>
    <a href=""></a>
    <a href=""></a>
    <a href=""></a>
    <a href=""></a>
    <a href=""></a>


   
  </div></nav>
<router-outlet></router-outlet>