
<div class="row">
    <div class="col-sm-3" *ngFor="let wor of allemps">
        <div class="card" style="width: 250px;height: 450px;">
            <img [src]="'data:image/jpeg;base64,' + wor.image"  class="card-img-top"class="mx-auto d-block" alt="..." style="width: 200px;height: 200px;">
            <div class="card-body">
                <h5 class="">Name: {{wor.firstName}} {{wor.lastName}}</h5>
                <!-- <p class="">Category: {{wor.category}}<br></p> -->
                <p class="">Area: {{wor.area}}</p>
                <p class="">Charges:<br>Per day price: {{wor.priceday|currency: 'INR':'symbol':'1.0-0'}}/- <br>Per hour price: {{wor.pricehr|currency: 'INR':'symbol':'1.0-0'}}/-</p>
                <p class=""></p>
                <p class=""></p><a (click)="navigateToDetails(wor.workerId)" class="btn btn-primary">View more</a>
            </div>

            <div class="card-body">
                
            
            </div>
        </div>
    </div>
</div>