<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
     <a class="navbar-brand" ><b>gigtroop</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
        </svg></button>
      </form> -->
       <li class="nav-item">
          <a class="nav-link" routerLink="">Home</a>
        </li>
     <li class="nav-item">
          <a class="nav-link" routerLink="aboutus">About Us</a>
        </li>
      </ul>
      <ul class="navbar-nav" >
          <li class="nav-item" >
          <a class="nav-link" [class.d-none]="loginStatus" routerLink="login">Login</a>
        </li>
       
       <li class="nav-item">
         <a class="nav-link" [class.d-none]="loginStatus" routerLink="register">Register</a>
        </li>
       
      </ul>
      <button class="btn btn-outline-success" [class.d-none]="loginStatus" routerLink="workerlogin">Become a Worker</button> 
        
          <!-- Avatar
          <div class="dropdown">
            <a
              data-mdb-dropdown-init
              class="dropdown-toggle d-flex align-items-center hidden-arrow"
              href="#"
              id="navbarDropdownMenuAvatar"
              type="button"
              aria-expanded="false"
            >
              
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdownMenuAvatar"
            >
              <li>
                <a class="dropdown-item" href="#">My profile</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Settings</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Logout</a>
              </li>
            </ul>
          </div> -->
          <a  class="notification"  data-bs-toggle="modal" data-bs-target="#myModal" (click)="loadNotifications()" >
            <span> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2m.995-14.901a1 1 0 1 0-1.99 0A5 5 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901"/>
          </svg></span>
            <span class="badge">{{ notifications.length }}</span>
          </a>
          <div class="modal" id="myModal">
            <div class="modal-dialog modal-dialog-scrollable">
              <div class="modal-content">
          
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Notification  <span> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
                    <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2m.995-14.901a1 1 0 1 0-1.99 0A5 5 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901"/>
                  </svg></span></h4>
                  <!-- <button type="button" class="btn-close" data-bs-dismiss="modal"></button> -->
                </div>
                <div class="modal-body">
                  <ul>
                    <li *ngFor="let notification of notifications">
                      <span >
                       
                        <div class="notification-ui_dd-content">
                    <div class="notification-list notification-list">
                        <div class="notification-list_content">
                            <div class="notification-list_img">
                                <img [src]="'data:image/jpeg;base64,' + notification.worker.image" alt="user">
                            </div>
                            <div class="notification-list_detail">
                                <p><b>{{ notification.worker.firstName }} {{ notification.worker.lastName }}</b> {{ notification.status }} your work request</p>
                                <!-- <p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, dolorem.</p> -->
                                <p class="text-muted"><small>{{ notification.requestTime | timeAgo }}</small></p>
                            </div>
                        </div>
                       
                    </div>
                  
                    <!-- <div class="notification-list">
                        <div class="notification-list_content">
                            <div class="notification-list_img">
                                <img src="https://i.imgur.com/ltXdE4K.jpg" alt="user">
                            </div>
                            <div class="notification-list_detail">
                                <p><b>Brian Cumin</b> reacted to your post</p>
                                <p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, dolorem.</p>
                                <p class="text-muted"><small>10 mins ago</small></p>
                            </div>
                        </div>
                        <div class="notification-list_feature-img">
                            <img src="https://i.imgur.com/bpBpAlH.jpg" alt="Feature image">
                        </div>
                    </div> -->
             
                    </div>
                      <!-- {{ notification.requestTime  | timeAgo  }}:  by  -->
                      </span>
                    </li>
                  </ul>
                </div>
          
            
                
          
              </div>
            </div>
          </div>
         
          <div class="dropdown" [class.d-none]="!loginStatus">
            <button class="btn btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" >
                <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" height="25" alt="" loading="lazy"/>
            </button>
            <ul class="dropdown-menu dropdown-menu-end" style="right: 0;">
                <li><a class="dropdown-item" routerLink="workerprofile">My profile</a></li>
                <li><a class="dropdown-item" routerLink="#">Settings</a></li>
                <li ><a class="dropdown-item" routerLink="logout">Logout</a></li>
            </ul>
        </div>
        
      
    </div>
  </div>
</nav>
<!-- *ngIf="(loginStatus | async) as loginStatus -->