
<!-- Section: Design Block -->
<section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h1 class="my-5 display-3 fw-bold ls-tight">
              The best offer <br />
              <span class="text-primary">for your business</span>
            </h1>
            <p style="color: hsl(217, 10%, 50.8%)">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Eveniet, itaque accusantium odio, soluta, corrupti aliquam
              quibusdam tempora at cupiditate quis eum maiores libero
              veritatis? Dicta facilis sint aliquid ipsum atque?
            </p>
          </div>
  
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-body py-5 px-md-5">
                <form #workerReg="ngForm" (ngSubmit)="registerWorker(workerReg.value)" novalidate>
                  <h1>Register <span class="text-primary">as a Worker</span></h1>
                  <!-- 2 column grid layout with text inputs for the first and last names -->
                  <div class="row">
                    <div class="col-md-6 mb-4">
                        <div class="form-outline form-floating" >
                            <input type="text" id="floatingInput firstName"class="form-control " name="firstName" ngModel
                                placeholder="Enter First name" minlength="1" maxlength="16" required />
                            <label class="form-label" for="firstName floatingInput">First name</label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="form-outline form-floating">
                            <input type="text" id="lastName floatingInput" class="form-control" name="lastName" ngModel
                                placeholder="Enter last name"minlength="1" maxlength="16" required />
                            <label class="form-label" for="lastName floatingInput">Last name</label>
                        </div>
                    </div>
                </div>

                <!-- Email input -->
                <div class="form-outline mb-4 form-floating">
                    <input type="email" id="email floatingInput" class="form-control" name="email" ngModel
                        placeholder="Enter a email address" #email="ngModel"minlength="8" maxlength="24"required />
                    <label class="form-label" for="email floatingInput">Email address</label>
                </div>
                <div *ngIf="email.errors?.['minlength'] && email.touched">
                  <p style="color: red;">Please enter at least 6 characters for email</p>
              </div>
             

                <!-- Password input -->
                <div class="form-outline mb-4 form-floating">
                    <input type="password" id="password floatingInput" class="form-control form-control-lg" name="password" ngModel
                        placeholder="Enter Password"#password="ngModel" minlength="8" maxlength="16"pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*()_+}{':;?/>.<,]).{8,16}$" required />
                    <label class="form-label" for="password floatingInput">Password</label>
                </div>
                <!-- <div *ngIf="password.errors?.['minlength'] && password.touched">
                  <p>Please enter at least 8 characters for password</p>
              </div> -->
               <div *ngIf="password.invalid && (password.dirty || password.touched)">
                                <div *ngIf="password.errors?.['required']">
                                    <p>Password is required</p>
                                </div>
                                <div *ngIf="password.errors?.['minlength']">
                                    <p>Password must be at least 8 characters long</p>
                                </div>
                                <div *ngIf="password.errors?.['pattern']">
                                    <p>Password must contain at least one lowercase letter</p>
                                </div>
                                <div *ngIf="password.errors?.['pattern']">
                                  <p>Password must contain at least one uppercase letter</p>
                              </div><div *ngIf="password.errors?.['pattern']">
                                <p>Password must contain at least one number</p>
                            </div><div *ngIf="password.errors?.['pattern']">
                              <p>Password must contain at least one special character</p>
                          </div>
                            </div>
                         
                <!-- Confirm Password input -->
                <div class="form-outline mb-4 form-floating">
                    <input type="password" id="password floatingInput" class="form-control form-control-lg" name="confirmPassword" ngModel
                        placeholder="Enter Confirm Password" minlength="8" maxlength="16" required />
                    <label class="form-label" for="password floatingInput"> Confirm Password</label>
                </div>
                <div *ngIf="workerReg.controls['password'].touched && workerReg.controls['confirmPassword'].touched && workerReg.controls['password'].value !== workerReg.controls['confirmPassword'].value">Passwords do not match</div>
                <!-- PhoneNo input -->
                <div class="form-outline mb-4 form-floating">
                    <input type="text" id="phoneNo floatingInput" class="form-control" name="phoneNo" ngModel
                        placeholder="Enter Phone Number" minlength="10" maxlength="10"required />
                    <label class="form-label" for="phoneNo floatingInput">Phone Number</label>
                </div>
                 
                  <!-- Area input -->
                  <div class="form-floating">
                    <select class="form-select" id="floatingSelect area" name="area" ngModel aria-label="Floating label select example" required>
                      <option selected disabled></option>
                      <option value="Gachiboli">Gachiboli</option>
                      <option value="Hi-tech City">Hi-tech City</option>
                      <option value="Old City">Old City</option>
                    </select>
                    <label for="floatingSelect area">Select Your Work Area</label>
                  </div>
                  <br>
                   <!-- Category input -->
                   <div class="form-floating">
                    <select class="form-select" id="floatingSelect category" name="category" ngModel aria-label="Floating label select example" required>
                      <option selected disabled></option>
                      <option value="Electrician">Electrician</option>
                      <option value="Carpenter">Carpenter</option>
                      <option value="Driver">Driver</option>
                    </select>
                    <label for="floatingSelect category">Choose Your Category</label>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="input-group mb-3 ">
                    <span class="input-group-text">₹</span>
                    <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput priceday"name="priceday" ngModel
                    placeholder="Enter per day price" minlength="1" maxlength="6" required />
                <label class="form-label " for="priceday floatingInput" >Enter price per day</label></div>
                    <!-- <span class="input-group-text">.00</span> -->
                  </div>
                    </div>
                    <div class="col-md-6 mb-4" >
                      <div class="input-group mb-3 ">
                    <span class="input-group-text">₹</span>
                    <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput pricehr"name="pricehr" ngModel
                    placeholder="Enter per day price" minlength="1" maxlength="6" required />
                <label class="form-label" for="pricehr floatingInput" >Enter price per hour</label></div>
                    
                  </div>
                    </div>
                </div>
                  
                 

                  <!-- Submit button -->
                  <button type="submit" class="btn btn-primary btn-block mb-4" [disabled]="workerReg.invalid || workerReg.controls['password'].value !== workerReg.controls['confirmPassword'].value">
                    Register
                  </button>
  
                  
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->