<div class="row">
    <div class="col-sm-3" *ngFor="let wor of allemps">
        <div class="card" style="width: 250px;height: 400px;">
            <img src="{{wor.image}}" class="card-img-top" alt="..." style="width: 200px;height: 200px;">
            <div class="card-body">
                <h5 class="">Name: {{wor.firstName}} {{wor.lastName}}</h5>
                <p class="">Category: {{wor.category}}<br></p>
                <p class="">Area: {{wor.area}}<br></p>
                <p class="">Charges:<br>Per day price: {{wor.priceday|currency: 'INR':'symbol':'1.0-0'}}/- <br>Per hour price: {{wor.pricehr|currency: 'INR':'symbol':'1.0-0'}}/-</p>
                <p class=""></p>
                <p class=""></p><a href="#" class="btn btn-primary">Hire</a>
            </div>

            <div class="card-body">
                
            
            </div>
        </div>
    </div>
</div>