<app-header></app-header>
<nav><div class="scrollmenu">
    <a routerLink="electrician">Electrician</a>
    <a href="">Carpenter</a>
    <a href="">Driver</a>
    <a href="">Plumber</a>
    <a href="">Labour</a>
    <a href="">Painter</a>
    <a href="">Cook</a>
    <a href="">Housekeeper</a>
    <a href="">Gardener</a>
    <a href="">Car Cleaner</a>
    <a href="">Security Guard</a>
    <a href="">Plasterer</a>
    <a href="">Construction Worker</a>
    <a href="">Mechanic</a>
    <a href=""></a>
    <a href=""></a>
    <a href=""></a>
    <a href=""></a>
    <a href=""></a>
    <a href=""></a>


   
  </div></nav>
<router-outlet></router-outlet>